/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.container {
	width: 80%;
	min-width: 490px;
	height: 350px;
	margin: 0 auto;
}

/*
.container::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
--not needed when the container has a min-width */

.sidebar {
	float: left;
	width: 30%;
	min-width: 100px;
	height: 310px;
}

.main-content {
	float: left;
	width: 70%;
	min-width: 100px;
	height: 310px;
}

.sub-content {}

.footer {
	clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */
