/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	width: 250px;
	height: 350px;
}

.main-content::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 600px;
	height: 150px;
}
.sub-content-2 {
	float: right;
	clear: right;
	width: 600px;
	height: 150px;
	margin-top: 20px;
}

.footer {
	clear: both;
}
