/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	min-width: 700px;
	margin: 0 auto;
}


.header::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.logo {
	float: left;
	width: 30%;
}

.navigation {
	float: right;
	width: 65%;
}

.sidebar {
	float: left;
	min-width: 200px;
	width: 30%;
}

.main-content::after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.sub-content {
	float: right;
	width: 65%;
}

.sub-content-2 {
	float: right;
	clear: right;
	width: 65%;
}

.footer {
	clear: both;
}
